{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<section class="section legacy-page">
    <div class="container legacy-content">
<div id="parallax-1" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/biz-oriented-header.jpg') }}">
        <div class="tm-logo" style="background-color: transparent;">
            <img src="{{ url_for('static', filename='img/Meeting-Gen.png') }}" alt="Urxion logo" class="tm-logo-img">
        </div>
    </div>
    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbar-nav"
                                aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="dark-blue-text"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('index') }}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('services') }}">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('cold_calling') }}">Cold Calling That Converts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('business_assessment') }}">Business Assessment</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

<h1>Challenger - Summary</h1>
<p>Introduction: A Surprising Look into the Future

The introduction highlights the evolution of sales, marked by breakthroughs like the specialization of sales roles and the rise of consultative selling. However, a new revolution is underway in purchasing: buyers are more informed, risk-averse, and demand more complex solutions. This shift has led to "solutions fatigue" and widened the gap between average and high-performing salespeople. The authors introduce research identifying a new type of sales rep, the "Challenger," who consistently outperforms others by challenging customer assumptions and offering unique insights. This book aims to decode the Challenger's secrets and provide a blueprint for building a Challenger sales force.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <div class="row">
            <p class="col-lg-9 col-md-8 mb-5 mb-md-0">
                Copyright © 2024 <span class="tm-text-primary">URXION</span>
                - Contact Us At  <a href="mailto:Sean.Brennan@urxion.com" class="tm-link-primary">Sean.Brennan@urxion.com</a>
            </p>
            <div class="col-lg-3 col-md-4 text-right">
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin fa-2x tm-social-icon"></i>
                </a>
            </div>
        </div>
    </footer>
    </div>
</section>
{% endblock %}
