{% extends "base.html" %}
{% block title %}Cold to Commited{% endblock %}
{% block content %}
<section class="section legacy-page">
    <div class="container legacy-content">
<div id="parallax-1" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/biz-oriented-header.jpg') }}">
        <div class="tm-logo" style="background-color: transparent;">
            <img src="{{ url_for('static', filename='img/Meeting-Gen.png') }}" alt="Urxion logo" class="tm-logo-img">
        </div>
    </div>
    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbar-nav"
                                aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="dark-blue-text"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('index') }}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('cold_calling') }}">COLD CALLING THAT CONVERTS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('business_assessment') }}">Business Assessment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('knowledge_is_power') }}">Knowledge is Power</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container mt-4 mb-5">
                        <h1 class="text-center">Cold to Committed</h1>

                        <h2>Chapters</h2>
                        <ul class="list-unstyled">
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_1">Chapter 1: Dissecting the World’s Greatest Prospectors</a>
                                </h3>
                                <ul>
                                    <li>Outlines core traits of highly successful prospectors emphasizing:</li>
                                    <li>Organization: Importance of managing time, accounts, and outreach effectively.</li>
                                    <li>Discipline & Positive Attitude: Maintaining consistency through challenges.</li>
                                    <li>Continuous Learning: Staying updated on industry trends and techniques.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_2">Chapter 2: Account Qualification and Grading</a>
                                </h3>
                                <ul>
                                    <li>Focuses on identifying and prioritizing target accounts, explaining:</li>
                                    <li>Account Qualification: Aligning prospects with Ideal Customer Profile (ICP).</li>
                                    <li>Account Grading: Ranking accounts based on potential value for personalized outreach.</li>
                                    <li>List Types: Understanding and evaluating different types of prospect lists.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_3">Chapter 3: Building and Managing a Pipeline</a>
                                </h3>
                                <ul>
                                    <li>Guides in creating and managing a healthy sales pipeline, covering:</li>
                                    <li>Pipeline Definition: Visual representation of prospects and their progress.</li>
                                    <li>Pipeline Stages: Organizing and managing accounts effectively.</li>
                                    <li>Pipeline Building & Maintenance: Developing a consistent process for qualified prospects.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_4">Chapter 4: The Importance of Authority and How to Get Past the Gatekeeper</a>
                                </h3>
                                <ul>
                                    <li>Addresses challenges of navigating gatekeepers, emphasizing:</li>
                                    <li>Authority: Projecting confidence about industry knowledge.</li>
                                    <li>Gatekeeper Script: Developing scripts for controlling conversations.</li>
                                    <li>Gatekeeper Personalities: Adapting approach to different gatekeeper types.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_5">Chapter 5: Everything You Need to Know About Cold Calling</a>
                                </h3>
                                <ul>
                                    <li>Provides an overview of effective cold calling techniques, focusing on:</li>
                                    <li>Prospect Research: Understanding the target audience deeply.</li>
                                    <li>Cold Call Structure: Following clear structures to guide conversations.</li>
                                    <li>Overcoming Brush-Offs: Utilizing the Triple A technique to handle resistance.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_6">Chapter 6: Story Telling and the Art of Captivation</a>
                                </h3>
                                <ul>
                                    <li>Emphasizes storytelling to build rapport, explaining:</li>
                                    <li>Types of Selling Stories: Using social, solution, and pain stories effectively.</li>
                                    <li>Story Construction: Creating compelling narratives for engagement.</li>
                                    <li>Story Presentation: Mastering delivery techniques for captivation.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_7">Chapter 7: Overcoming Objections</a>
                                </h3>
                                <ul>
                                    <li>Equips techniques for handling objections by:</li>
                                    <li>Understanding Objections: Identifying root causes for concerns.</li>
                                    <li>Responding to Objections: Using confidence and patience in replies.</li>
                                    <li>Managing Push-Off Objections: Knowing when to push for a meeting.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_8">Chapter 8: Everything Prospecting (From First Touch to Showing Up to the Meeting)</a>
                                </h3>
                                <ul>
                                    <li>Covers managing the prospecting process, including:</li>
                                    <li>Sequences: Creating multi-touch sequences across communication methods.</li>
                                    <li>Research: Practicing effective prospect analysis.</li>
                                    <li>Multiple Contacts: Strategies for engaging numerous stakeholders.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_9">Chapter 9: Metrics, Organization, and Workflow</a>
                                </h3>
                                <ul>
                                    <li>Highlights tracking progress and organizing for success:</li>
                                    <li>Metrics: Key performance indicators to assess effectiveness.</li>
                                    <li>Organization: Structured scheduling for productivity.</li>
                                    <li>Workflow: Effective note-taking and utilizing technology for efficiency.</li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <a href="cold_to_committed_chapter_10">Chapter 10: Strive to Be the Best</a>
                                </h3>
                                <ul>
                                    <li>Motivates embracing the SDR challenges by emphasizing:</li>
                                    <li>Passion: Embracing the SDR role for skill development.</li>
                                    <li>Mentorship: Seeking guidance from experienced professionals.</li>
                                    <li>Full Commitment: Giving 100% effort and viewing challenges as growth opportunities.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <footer class="container-fluid">
                        <div class="row">
                            <p class="col-lg-9 col-md-8 mb-5 mb-md-0">
                                Copyright © 2024 <span class="tm-text-primary">URXION</span>
                                - Contact Us At  <a href="mailto:Sean.Brennan@urxion.com" class="tm-link-primary">Sean.Brennan@urxion.com</a>
                            </p>
                            <div class="col-lg-3 col-md-4 text-right">
                                <a href="https://linkedin.com" class="tm-social-link">
                                    <i class="fab fa-linkedin fa-2x tm-social-icon"></i>
                                </a>
                            </div>
                        </div>
                    </footer>

                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
