{% extends "base.html" %}
{% block title %}Sales EQ{% endblock %}
{% block content %}
<section class="section legacy-page">
    <div class="container legacy-content">
<div id="parallax-1" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/biz-oriented-header.jpg') }}">
        <div class="tm-logo" style="background-color: transparent;">
            <img src="{{ url_for('static', filename='img/Meeting-Gen.png') }}" alt="Urxion logo" class="tm-logo-img">
        </div>
    </div>
    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbar-nav"
                                aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="dark-blue-text"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('index') }}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('cold_calling') }}">COLD CALLING THAT CONVERTS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('business_assessment') }}">Business Assessment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('knowledge_is_power') }}">Knowledge is Power</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="container mt-4 mb-5">
                        <h1 class="text-center">Sales EQ</h1>
                        <h2>Chapters</h2>
                        <ul class="list-unstyled">
                            <li>
                                <h3><a href="sales_eq_chapter_1">Chapter 1: The Mysterious Brown Bag</a></h3>
                                <p>This chapter introduces the concept of Sales EQ and its importance in modern selling. It highlights the emotional connection and noncomplementary responses essential for disrupting buyer scripts.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_2">Chapter 2: A Perfect Sales Storm</a></h3>
                                <p>Blount paints a picture of the challenging sales landscape characterized by informed buyers and disruptive technology, emphasizing the need to adapt and build authentic relationships.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_3">Chapter 3: The Irrational Buyer</a></h3>
                                <p>This chapter dives into the psychology of buying decisions and how emotions drive choices, introducing concepts like cognitive biases and the significant role they play in sales.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_4">Chapter 4: Pattern Painting, Cognitive Biases, and Heuristics</a></h3>
                                <p>Blount explains how to create novelty in sales presentations to capture attention and how understanding cognitive biases can increase sales effectiveness.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_5">Chapter 5: The Four Levels of Sales Intelligence</a></h3>
                                <p>The chapter outlines four types of intelligence critical for sales success and emphasizes continuous learning and emotional intelligence as key differentiators.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_6">Chapter 6: Shaping Win Probability</a></h3>
                                <p>Blount introduces the idea of "win probability" and strategies that ultra-high performers use to enhance their chances of closing deals.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_7">Chapter 7: Dual Process</a></h3>
                                <p>This chapter discusses balancing relationship-building with achieving sales objectives, emphasizing the importance of both for successful selling.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_8">Chapter 8: Empathy</a></h3>
                                <p>The chapter explores the role of empathy in building rapport with stakeholders and understanding their unique emotional drives.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_9">Chapter 9: Self-Awareness</a></h3>
                                <p>Blount examines the necessity of self-awareness for understanding personal strengths and weaknesses, highlighting tools for developing this skill.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_10">Chapter 10: Sales Drive</a></h3>
                                <p>The motivational aspect of Sales Drive, combining competitiveness and optimism, is key to maintaining high performance.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_11">Chapter 11: Self-Control</a></h3>
                                <p>This chapter discusses the significance of self-control in managing emotions and making constructive decisions during high-stress sales situations.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_12">Chapter 12: Shaping Win Probability Begins with Qualification</a></h3>
                                <p>Emphasizing that rigorous qualification leads to better focus on high-probability prospects, this chapter provides actionable approaches for effective qualification.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_13">Chapter 13: Engagement and Micro-Commitments</a></h3>
                                <p>Blount illustrates the importance of gaining small, incremental agreements that build trust and advance deals, nurturing a path toward closure.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_14">Chapter 14: Stalled Deals and Next Steps</a></h3>
                                <p>This chapter addresses the challenge of stalled deals, stressing the necessity of establishing clear next steps to maintain momentum in the sales process.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_15">Chapter 15: Sales Process</a></h3>
                                <p>Focusing on the structured sales process, Blount discusses its significance in improving consistency and efficiency in achieving sales goals.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_16">Chapter 16: Buying Process</a></h3>
                                <p>Understanding the buying process and aligning it with the sales process is essential for increasing win probability and providing a smooth customer experience.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_17">Chapter 17: The Five Stakeholders You Meet in a Deal</a></h3>
                                <p>The chapter introduces the key stakeholder roles in the buying decision and emphasizes the need to understand and strategize around their motivations.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_18">Chapter 18: Decision Process</a></h3>
                                <p>By addressing emotional drivers and aligning the sales approach with the decision-making process, salespeople can enhance their effectiveness in closing deals.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_19">Chapter 19: Do I Like You?</a></h3>
                                <p>This chapter discusses the critical role of likability in establishing rapport and trust during the sales process.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_20">Chapter 20: Flexing to Complement the Four Primary Stakeholder Personas</a></h3>
                                <p>Flexibility in communication style based on stakeholder personas enhances engagement and effectiveness in sales.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_21">Chapter 21: Sales Call Agenda Framework</a></h3>
                                <p>Providing structure to sales conversations creates clarity, establishes expectations, and enhances stakeholder engagement.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_22">Chapter 22: Do You Listen to Me?</a></h3>
                                <p>The author emphasizes the importance of active listening and deep listening skills to understand stakeholders better and shape sales outcomes.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_23">Chapter 23: Discovery: Sales is a Language of Questions</a></h3>
                                <p>Mastery of effective questioning techniques is crucial for uncovering stakeholder needs and fostering rapport.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_24">Chapter 24: Do You Make Me Feel Important?</a></h3>
                                <p>Making stakeholders feel valued is essential for building trust and influence in sales relationships.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_25">Chapter 25: Do You Get Me and My Problems?</a></h3>
                                <p>Understanding the stakeholder's unique challenges enables salespeople to craft relevant messages and solutions.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_26">Chapter 26: Asking: The Most Important Sales Discipline</a></h3>
                                <p>Confidence and assertiveness in asking for commitments are key factors in advancing the sales process.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_27">Chapter 27: Turning Around Objections</a></h3>
                                <p>Effective objection handling techniques can transform resistance into opportunities for building trust and advancing the sale.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_28">Chapter 28: Do I Trust and Believe You?</a></h3>
                                <p>Building trust through consistency and integrity is foundational to successful sales relationships.</p>
                            </li>
                            <li>
                                <h3><a href="sales_eq_chapter_29">Chapter 29: Amache - The Power of Gratitude</a></h3>
                                <p>Empathy and gratitude can significantly enhance personal connections and foster resilience in challenging circumstances.</p>
                            </li>
                        </ul>
                    </div>

                    <footer class="container-fluid">
                        <div class="row">
                            <p class="col-lg-9 col-md-8 mb-5 mb-md-0">
                                Copyright © 2024 <span class="tm-text-primary">URXION</span>
                                - Contact Us At  <a href="mailto:Sean.Brennan@urxion.com" class="tm-link-primary">Sean.Brennan@urxion.com</a>
                            </p>
                            <div class="col-lg-3 col-md-4 text-right">
                                <a href="https://linkedin.com" class="tm-social-link">
                                    <i class="fab fa-linkedin fa-2x tm-social-icon"></i>
                                </a>
                            </div>
                        </div>
                    </footer>

                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}
