{% extends "base.html" %}
{% block title %}Contact US{% endblock %}
{% block content %}
<section class="section legacy-page">
    <div class="container legacy-content">
<div id="parallax-1" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/biz-oriented-header.jpg') }}">
        <div class="tm-logo" style="background-color: transparent;">
            <img src="{{ url_for('static', filename='img/Meeting-Gen.png') }}" alt="Urxion logo" class="tm-logo-img">
        </div>
    </div>
    <div class="tm-nav-container-outer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbar-nav"
                                aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="dark-blue-text"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('index') }}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('cold_calling') }}">COLD CALLING THAT CONVERTS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('business_assessment') }}">Business Assessment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="{{ url_for('knowledge_is_power') }}">Knowledge is Power</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <section class="tm-unsubscribe-form-box">
                    <h3 class="tm-title-gray text-center">Unsubscribe from Our Communications</h3>
                    <hr class="mb-4 tm-hr tm-hr-s mx-auto">
                    <form id="unsubscribe-form">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" placeholder="Enter your email address" required />
                        </div>
                        <div class="form-group mb-0">
                            <button type="submit" class="btn btn-primary d-block mx-auto">Unsubscribe</button>
                        </div>
                    </form>
                    <div id="confirmation-message" class="confirmation-message" style="display: none;">
                        You have been successfully unsubscribed from our mailing list.
                    </div>
                </section>
            </div>
        </div>
    </div>

    <style>
    .confirmation-message {
        margin-top: 20px;
        padding: 15px;
        background-color: #dff0d8;
        border: 1px solid #d6e9c6;
        border-radius: 4px;
        color: #3c763d;
        text-align: center;
    }
    </style>

    

   <footer class="container-fluid">
        <div class="row">
            <p class="col-lg-9 col-md-8 mb-5 mb-md-0">
                Copyright &copy; 2024 <span class="tm-text-primary">URXION</span>

            </p>
            <div class="col-lg-3 col-md-4 text-right">
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin fa-2x tm-social-icon"></i>
                </a>
            </div>
        </div>
    </footer>
    </div>
</section>
{% endblock %}
